.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 3 / span 3;
  grid-row-start: 2;
  gap: 10px;
  transition: color 0.3s ease;
}

.icon {
  color: gray;
  transition: color 0.4s ease;
}

.icon:hover {
  color: rgb(252, 252, 252);
}
